@import 'src/sass/colors';
@import 'src/sass/variables';

.Footer{
    display: flex;
    background: $background;
    align-items: center;
    padding: 0.2rem;
    .MuiSvgIcon-root{
        color: $icons;
        font-size: $icons-font-size;
    }   
    .iconButtons{
        display: flex;
    }
    #attachFile{
        .MuiIconButton-root{
            transform: rotate(145deg);
        }
    }
    .input{
        display: flex;
        flex: 1;
        background: $input;
        padding: 0.6rem;
        border-radius: 1rem;
        margin: 0 0.5rem;
        input{
            flex: 1;
            outline: none;
            border: none;
        }
    }
}