$primery: #009688;
$primary-dark: #0a7065;
$on-primary: #FFFFFF;

$background: #ededed;
$background-body: #d9dbd5;
$on-background: #000000;
$on-background-secondary: #00000099;


$surface: #F6F6F6;

$important-alert: #FA685E;
$alert: #fed859;
$alert-notify: #1de9b6;
$on-alert: #303030d9;

$border: #dddddd;
$icons: #919191;
$input: #FFFFFF;