@import 'src/sass/colors';
.Form{
    display: flex;
    flex: 1;
    form{
        display: flex;
        flex: 1;
        align-items: center;
        .input{
            display: flex;
            flex: 1;
            background: $input;
            padding: 0.6rem 1rem;
            border-radius: 1rem;
            input{
                flex: 1;
                border: none;
                outline: none;
            }
        }
        button{
            outline: none;
            border: none;
            padding: 0 1rem;
        }
    }
}