@import 'src/sass/colors';
@import 'src/sass/variables';

.Alert{
    display: flex;
    align-items: center;
    padding: 1.1rem 0.8rem;
    background-color: $alert-notify;
    .avatar{
        margin-right: 0.8rem;
        .MuiAvatar-root{
            background-color: #fafafa;
            color: $alert-notify;
            width: $avatar-size;
            height: $avatar-size;
        }
    }
    .content{
        .title{
            font-size: $font-size;
            font-weight: bold;
        }
        p{
            margin: 0.2rem 0;
            font-size: $font-size;
            color: $on-alert;
            font-family: 'Fira Sans', sans-serif;
        }
    }
}