@import 'src/sass/colors';
@import 'src/sass/variables';

.Contact{
    display: flex;
    .MuiButton-text{
        flex: 1;
        background: $contact;
        align-items: center;
        text-align: start;
        text-transform: none;
        padding: 0.62rem 0.8rem;
        border-radius: 0;
        border-top: $contact-border 1px solid;
        .MuiAvatar-root{
            width: $avatar-size;
            height: $avatar-size;
        }
        .content{
            flex: 1;
            margin-left: 1.1rem;
            .info{
                display: flex;
                flex: 1;
                justify-content: space-between;
                color: $on-background-secondary;
                .name{
                    font-size: $font-size;
                    font-weight: bold;
                }
                .timeStamp{
                    font-size: $time-font-size;
                }
            }
            .lastMessage{
                color: $on-background-secondary;
                font-size: $font-size;
            }
        }
    }
}