@import 'src/sass/colors';
@import 'src/sass/variables';


.Sidebar{
    display: flex;
    flex: 0.30;
    flex-direction: column;
    background: $background;
    .contactList{
        overflow: auto;
    }
}