@import 'src/sass/colors';
@import 'src/sass/variables';


.Sidebar{
    display: flex;
    flex: 0.30;
    flex-direction: column;
    border-right: $border 0.1rem solid;
    .header{
        display: flex;
        justify-content: space-between;
        padding: $headers-padding;
        align-items: center;
        .avatar{
            .MuiAvatar-root{
                width: $avatar-size;
                height: $avatar-size;
            }
        }
        .iconButtons{
            display: flex;
            .MuiSvgIcon-root{
                color: $icons;
                font-size: $icons-font-size;
            }
        }
    }
    .contactList{
        overflow: auto;
    }
}