@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import 'src/sass/colors';
@import 'src/sass/variables';


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  input{
    flex: 1;
    outline: none;
    border: none;
    background-color: $input;
    color: $on-input;
    font-size: 1rem;
}

